.terms {
  margin: 2rem 0;
  color: var(--secondary);
}

.terms section h1 {
  margin: 2rem 0;

  font-size: xx-large;
}

.terms section h4 {
  font-size: large;
}

.terms section h3 a {
  text-decoration: underline;

  color: var(--accent);
}
