@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary: rgb(27, 22, 106);
  --secondary: rgb(129, 93, 255);
  --accent: rgb(255, 255, 255);
  --warning: rgb(255, 165, 0);

  --active: rgb(99, 67, 216);
  --active-outline: rgb(180, 165, 240);

  --hover: rgb(201, 187, 255);
  --outline-hover: rgb(201, 187, 255);

  --disabled: rgb(206, 206, 206);
  --disabled-text: rgb(167, 167, 167);

  --shadow: rgb(128, 128, 128, 0.4);

  --dark: rgb(0, 0, 0);
  --dark-active: rgb(0, 0, 0, 0.4);
  --dark-inactive: rgb(0, 0, 0, 0.2);

  --dialog-background: rgb(22, 18, 85);
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;

  background: var(--primary);

  overflow: scroll;
}

.sub-container {
  max-width: 90rem;

  margin: 2rem auto 1rem;
  padding: 0 2rem;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* .custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  scrollbar-width: 40px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--dark-inactive);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--dark-active);
} */
